<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--应用程序ID-->
    <add key="AppID" value="150107"/>  
    <!--ZooKeeper服务器集群连接地址（包括端口号）-->    
    <add key="ZKServer" value="139.198.13.12:5011,139.198.13.12:5012,139.198.13.12:5013"/>
    <!--会话超时时间（单位：秒）：设置默认值1小时-->
    <add key="ZKSessionTimeOut" value="3600"/>    
    <!--Master选举的根节点路径-->
    <add key="ZKMasterElectionRootNodeName" value="JobServer"/>
  </appSettings>
</configuration>